
<ion-content no-padding class="life-payment">
  <ion-grid class="input-group">
    <ion-row class="apartment">
      <ion-col col-3>公寓</ion-col>
      <ion-col>
        <ion-select [(ngModel)]="apartmentId" placeholder="请选择公寓">
          <ion-option
            *ngFor="let v of apartmentList"
            [value]="v.id">{{v.name}}</ion-option>
        </ion-select>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col col-3>房间号</ion-col>
      <ion-col>
        <ion-select [(ngModel)]="data.layoutId" placeholder="请选择房间号">
          <ion-option
            *ngFor="let v of layoutList"
            [value]="v.id">{{v.name}}</ion-option>
        </ion-select>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-grid no-padding>
    <ion-row class="dark" no-padding>余额</ion-row>
    <ion-row class="amount" >
      <ion-col col-6 text-left >&yen;10000.00</ion-col>
      <ion-col col-6 text-right >
        <ion-icon name="check" no-margin no-padding></ion-icon>
        是否使用余额抵扣
      </ion-col>
    </ion-row>
    <ion-row class="dark" no-padding>支付方式</ion-row>
    <ion-row class="wechat" >
      <ion-col col-6 text-left>
        <ion-icon name="wechat" no-margin no-padding></ion-icon>
        微信支付
      </ion-col>
      <ion-col col-6 text-right>
        <ion-icon name="check-on" no-margin no-padding></ion-icon>
      </ion-col>
    </ion-row>
    <ion-row class="zfb">
      <ion-col col-6 text-left>
        <ion-icon name="zfb" no-margin no-padding></ion-icon>
        支付宝
      </ion-col>
      <ion-col col-6 text-right>
        <ion-icon name="check" no-margin no-padding></ion-icon>
      </ion-col>
    </ion-row>

  </ion-grid>
  <button ion-button full color="main-a-40" (click)="gotoPaySucceed()">确认</button>
</ion-content>
