

<ion-content no-padding class="integral-order">
  <ion-grid no-padding class="input-group">
    <ion-row>
      <ion-col col-3>房间号</ion-col>
      <ion-col ino-text text-right>
        <ion-select [(ngModel)]="data.layoutId" placeholder="请选择房间号">
          <ion-option
            *ngFor="let v of layoutList"
            [value]="v.id">{{v.name}}</ion-option>
        </ion-select>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-grid class="pay-list" no-padding>
    <ion-icon name="detailed-account" class="detailed-account"></ion-icon>
    <ion-row class="title">订单详情</ion-row>
    <ion-row *ngFor="let v of moneyItems" class="cost-t">
      <ion-col  class="cost">{{v.name}}</ion-col>
      <ion-col  class="cost">{{v.item}}</ion-col>
    </ion-row>
    <ion-row class="pay">
      <ion-col col-9 class="money" text-right>
        <p>100分</p>
      </ion-col>
      <ion-col col-3 text-center class="payoff" (click)=gotoCheckstand()>
        兑换
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
